*,
::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* BACKGROUND */
    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;

    /* Colors */
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;

    /* Content */
    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;

    /* Border */
    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;

    /* Typography */
    --ff: "Inter", sans-serif;
    --title: bold 1.5rem/2; /* Line-height: 32px; Weight: Bold;*/
    --label: 600 1rem/1.25; /* Line-height: 20px; Weight: Semibold;*/
    --paragraph: 500 1rem/1.25; /* Line-height: 20px; Weight: Medium;*/
    --link: 500 0.875rem/1; /* Line-height: 16px; Weight: Medium;*/ 
}

body {
    font-family: var(--ff);
}

main{
    display: grid;

    max-width: 41rem;
    width: 41rem;

    /* background-color: blue; */

    margin: 0 auto;
    margin-top: 3.875rem;
}

header > img {
    display: flex;
    justify-self: center;

    margin-top: 1.5625rem;
}

a {
    color: var(--color-brand);
    text-decoration: none;

    margin-bottom: 1rem;

    font: var(--link) var(--ff);
}

li {
    list-style-type: none;
}